<!DOCTYPE html>
<html lang="en">
<head> <title> Falcon Fitness Center</title>
<meta charset ="utf-8">
<link href="css/ExternalStyleSheetFFC.css" rel="stylesheet">
</head> 
<body>
<div id="container">
<header>
<a href= "index.html"><img src="images/FFCLogo.png" alt="Falcon Fitness Center Logo" height="234" width="257"> </a> <br>
</header>
<nav>
<a href= "index.html">Home </a> &nbsp; &nbsp;
 <a href="about.html">About us </a> &nbsp; &nbsp;
<a href="classes.html">Classes </a> &nbsp; &nbsp;
 <a href="nutrition.html">Nutrition </a> &nbsp; &nbsp;
<a href="contact.html">Contact Us </a>
</nav>
<main>
<h1> Weights</h1>
 <img class="equip" src="images/weights1.jpg" alt="Picture of Weights" height="178" width="283">
 <p> Our facility includes a weight training area with several weight options. Build lean muscle with weights and improve your core with weight training. </p>
        <ul>
            <li>Dumbbells</li>
            <li>Kettle Bells</li>
            <li>Barbells</li>
        </ul><br>
    <h1> Cardio </h1>
    <img class="equip" src="images/cardio1.jpg" alt="Multiple Treadmills" height="183" width="275">
    <p>Burn fat through cardio workouts. If you need to lose 20lbs or more, include at least 30 minutes of cardio each day. We have several equipment choices for your workout. </p>
        <ul>
            <li>Treadmills</li>
            <li>Elliptical Machines</li>
            <li>Exercise Bikes</li>
        </ul><br>
 <h1>Personal Training</h1>
    <img class="equip" src="images/personaltrainer1.jpg" alt="Picture of Trainer with back turned" height="183" width="275">
    <p> Our certified personal trainers work with you one on one to help you obtain your fitness goals. Our personal trainers keep you motivated and push you farther than you would push yourself. When you feel like you cannot od one more rep, they tell you that you can. Personal training has many benefits: </p>
        <ul>
            <li>Accountability</li>
            <li>Personalized Program</li>
            <li>Consistent Support and Motivation</li>
        </ul><br>
<h1> Ready to get Started? Contact us today </h1>

            <p> We are located at: <br>
                25743 Bloom Court<br>
                Weston, FL </p>
                
            <p> Phone Number <br>
            <a class="mobile" href="tel: 9547778888">(954)777-8888</a> </p>
            
            <p> Email Address <br>
            <a href="mailto:falconfitnesscenter515@gmail.com"> falconfitnesscenter515@gmail.com</a></p>
            <br><br>

 
</main>
<footer>
&copy; Copyright 2022. All Rights Reserved. <br>
 <a href="mailto:falconfitnesscenter515@gmail.com">falconfitnesscenter515@gmail.com </a>
</footer>
</div>
</body>
</html>