<!DOCTYPE html>
<html lang="en">
<head> 
<meta charset ="utf-8">
</head> 
<body>
Motivational Quotes
<h1>First Quote </h1>
Carpe Diem
<h4>Meaning</h4>
This quote is Latin and means Seize the Day. It's a proclamation to take control of your day <br> and make the most each hour, minute, and second. You can either claim the day or the day can claim you.</br>
<h1> Second Quote </h1>
You miss 100 percent of the shots you don't take- Wayne Gretzky
<h4> Meaning </h4>
You're never going to accomplish something if you never take a shot at it. Failure to make the effort <br> to achieve something is the equivalent of not even  desiring anything at all. If you want something in this life, <br> you have to have the courage to go for it.</br>
</body>

